ul.header li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 13px;
  display: inline-block;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 10;
}

.header{
    box-shadow: 0px 6px 5px rgb(220, 220, 220);
    background-image:linear-gradient(160deg, #00ffff , #0099ff, #006699, #000066); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-size: cover;
    left: 0px;
}

.header-background{
    background-color: lightgray ;
    height: 10px;
}
